@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif;
  
  --color-primary: #7618f1;
  --color-primary-hover: #5c10d0;
  
  --color-background: #f6f4fb;
  --color-surface: #ffffff;
  
  --color-text-main: #1a1228;
  --color-text-muted: #6b6680;
  
  --color-border: #e4dff0;
}

@layer base {
  body {
    @apply bg-background text-text-main font-sans antialiased;
  }
}
